{% load static %}
<html>
  <head>
    <title>Bebe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"  type="text/css" href="{% static 'coffeeApp/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Playball|Satisfy|Tangerine|Yellowtail" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
   <body class="signup">
    <div class="container">
      <h2 class="account-title">Your account has been created with the email address: <br><br>
      {{email}}</h2>
      <h3 class="account-login">Log in below!</h3>
      <div class="row">
        <a href="/signin"><div class="btn btn-primary account-button">Log in</div></a>
      </div>
    </div>
   </body>
</html>
