{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bebe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet"  type="text/css" href="{% static 'coffeeApp/style.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Playball|Satisfy|Tangerine|Yellowtail" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="main container-fluid">
    <div class="overlay-dark">
      <nav class="navbar">
        <ul>
          <li>Bebe</li>
          <li>Home</li>
          <li><a href="/signup/" class="u-colorWhite">Sign Up</a></li>
          <li><a href="/signin/" class="u-colorWhite">Sign In</a></li>
          <!-- <li><a href="/search/" class="u-colorWhite">Search</a></li> -->
          <li><a href="/productList/" class="u-colorWhite">Products</a></li>
        </ul>
      </nav>
      <div class="jumbotron u-NoBackground main-title w-50">
        <h1 class="display-4 u-colorWhite">Slurp up your <b class="productive">future. <i>Locally</i></b> </h1>
        <p class="lead u-colorWhite">Welcome to <b>Bebe</b>, drinks for your productive side or for the party. We hope you enjoy local liquid as much as we do. </p>
        <hr class="my-4 ">
        <p class="lead u-colorWhite">
          <a class="btn btn-primary btn-lg main-button u-colorWhite" href="/signup/" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="latest container-fluid" id="latest">
    <h2 class="text-center">Latest Products</h2>
    <div class="row">
      <div class="col-md-6 main-block text-center">
        <a href="/product/2/">Java Java</a>
      </div><div class="col-md-6 main-block text-center">
        <a href="/product/3/">Medium Broast</a>
      </div>
    </div>
    <a class="btn btn-primary btn-lg latest-button" href="/productForm/" role="button">Learn more</a>
  </div> -->

  <div class="footer container-fluid">
    <h2 class="footer-title"><b>JD Coffee</b></h2><h2 class="footer-title text-right">109 Shamrock Rd, Charlottesville, VA, 22903</h2>
  </div>

</body>
</html>
