{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>JD Coffee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet"  type="text/css" href="{% static 'coffeeApp/style.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Playball|Satisfy|Tangerine|Yellowtail" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="products container-fluid">
    <div class="overlay-dark-products">
      <nav class="navbar">
        <ul>
          <li>JD Coffee</li>
          <li><a href="/" class="u-colorWhite">Home</a></li>
          <li><a href="/signup/" class="u-colorWhite">Sign Up</a></li>
          <li><a href="/signin/" class="u-colorWhite">Sign In</a></li>
          <li><a href="/products/" class="u-colorWhite">Products</a></li>
        </ul>
      </nav>
      <div class="jumbotron u-NoBackground products-title w-50">
        <h1 class="display-4 u-colorWhite">The market of <b class="productive">Products.</b></h1>
        <p class="lead u-colorWhite">One man's product is another man's product</b> </p>
        </p>
      </div>
    </div>
  </div>
  <div class="products-detail container-fluid">
    <h1 class="text-center">Check out the latest products below!</h1>
    <br>
    <div class="detail-block text-center">
      <a href="/product/1/">Hard Coded Product1</a>
    </div>
    <div class="detail-block text-center">
      <a href="/product/2/">Hard Coded Product 2</a>
    </div>
    <div class="detail-block text-center">
      <a href="/product/3/">Hard Coded Product 3</a>
    </div>
  </div>
  <div class="footer container-fluid">
    <h2 class="footer-title"><b>JD Coffee</b></h2><h2 class="footer-title text-right">109 Shamrock Rd, Charlottesville, VA, 22903</h2>
  </div>
</body>
</html>
