{% load static %}
<html>
  <head>
    <title>Bebe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"  type="text/css" href="{% static 'coffeeApp/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Playball|Satisfy|Tangerine|Yellowtail" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
   <body class="signup">
      <div class="container">
      <form class="signup-main signup-search" name="form" action = "{% url "find" %}" method="post">
        {% csrf_token %}
        <h2 class="signup-title">Find A Product</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" placeholder="name" name="name"/>
            </div>
          </div>
          <button type="submit" value="submit" class="btn btn-primary form-submit">Search</button>
        </div>
      </form>
      <!-- <div class="row results">
          <h2 class="search-title">Search Results</h2>
      </div> -->

      <script>

      var productList = JSON.parse('{{ productList | escapejs }}');
      // document.write("hello");
      //var productList = {{productList|safe}};
      //var div = document.createElement('divTest');
      //div.textContent = 'Hello world.';
      //if(document.body != null){
      //document.body.appendChild(div);
    //  }
        //var toAdd = document.createDocumentFragment();
      for(var i=0; i < 20; i++){
        if(productList[i]){
            var div = document.createElement('div');
          //  div.id = 'r'+i;
            //newDiv.className = 'ansbox';
            productID = productList[i].id;
            htmlString = "<a class='search-result' href = '/product/" + productID + "'>" + productList[i].product + ".........." + productList[i].price + "</a>";
            div.style.textAlign = "center";
            div.style.fontSize = "35px";
            div.innerHTML = htmlString;
            document.body.appendChild(div);
            //toAdd.appendChild(newDiv);
          }

        }

      //document.appendChild(toAdd);
      </script>

    </div>
  </body>
  </html>
